body {
    padding-top: 56px;
}

@font-face {
    font-family: "Gill Sans MT";
    src: url(gillsansmt.ttf);
}

.navbar-custom {
    background-color: #3C4AE5;
}

#upper-navbar-text {
    color: #ffff;
    font-family: "Gill Sans MT";
    font-size: xx-large;
}

#add-client-button {
    background-color: #250e8a;
    color: #ffff;
    font-size: large;
    font-family: "Gill Sans MT";
}

#footer {
  color: white;
  text-align: center;
}

.add-delete-button {
    margin-top: 10px;
    font-size: 18px;
}